<div class="container">
  <h2 class="section-title">User info</h2>
  <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
    <div class="user-info-form-item">
      <h4>Name</h4>
      <%= f.text_field :name %>
    </div>
    <div class="user-info-form-item">
      <h4>Image</h4>
      <%= f.file_field :profile_image %>
    </div>
    <div class="user-info-form-item">
      <h4>Image</h4>
      <%= f.text_area :introduction %>
    </div>
    <div class="user-info-form-item">
      <%= f.submit "Update User" %>
    </div>
  <% end %>
</div>