<div class="container">
  <div class="sidebar">
    <section class="user-info">
      <h2 class="section-title">User info</h2>
      <div class="info-image">
        <%= image_tag @user.get_profile_image(100, 100) %>
      </div>
      <div class="info-name">
        <p>name</p><p><%= @user.name %></p>
      </div>
      <div class="info-introduction">
        <p>introduction</p><%= @user.introduction %><p>
      </div>
      <%= link_to user_path(@user.id) do %>
        <span><i></i></span>
      <% end %>
    </section>
    <section class="new-book">
      <h2 class="section-title">New book</h2>
      <div class="form-section">
        <%= form_with model: @new_book do |f| %>
          <div class="form-item">
            <h4>Title</h4>
            <%= f.text_field :title %>
          </div>
          <div class="form-item">
            <h4>Opinion</h4>
            <%= f.text_area :body %>
          </div>
          <div class="form-item">
            <%= f.submit "Create Book" %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
  <section class="books">
    <h2 class="section-title">Book detail</h2>
    
    <div class="book-list">
      <div class="col">
        <div class="book-image book-list-item">
          <%= image_tag @book.get_book_image(70, 70) %>
        </div>
        <%= link_to @book.user.name, url: user_path(@book.user_id) %>
      </div>
      <div class="col">
        <div class="book-title book-list-item">
          <%= link_to book_path(@book.id) do %>
            <span><%= @book.title %></span>
          <% end %>
        </div>
        <div class="book-opinion book-list-item">
          <%= @book.body %>
        </div>
        <% if @book.id = current_user.id %>
          <%= link_to edit_book_path(@book.id) do %>
            <span class="button edit-button">Edit</span>
          <% end %>
          <%= link_to book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
            <span class="button destroy-button">Destroy</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
